/* --------------------------------- combos --------------------------------- */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <150>;

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// Horizontal combos
ZMK_COMBO(cut,   &kp LC(X),    LB3 LB1,     BASE NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(copy,  &kp LC(INS),  LB3 LB2,     BASE NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(paste, &kp LS(INS),  LB2 LB1,     BASE NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// caps word on index fingers
ZMK_COMBO(capsw, &caps_word,    LM1 RM1,     BASE SYM NUM, COMBO_TERM_FAST)